@font-face {
  font-family: "shrikhand";
  src: url("/font-family/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("/font-family/Roboto/Roboto-Regular.ttf");
}
h1 {
  font-family: "shrikhand";
}

p, h2, h3, a, span {
  font-family: "roboto";
}

h2, h3 {
  font-weight: bold;
}

section {
  background-color: #f0f0f0;
}

body, h1, h2, h3, p {
  padding: 0;
  border: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: initial;
}

form {
  margin: 0;
}

.c-bouton_commander {
  display: block;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  border-radius: 3em;
  width: 150px;
  padding: 15px;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 8px 4px rgba(128, 128, 128, 0.4);
}

.bouton_explorer {
  width: 190px;
  color: white;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  border-radius: 3em;
  border: none;
  padding: 15px;
  box-shadow: 2px 2px 8px 4px rgba(128, 128, 128, 0.4);
}

.icon_bloc {
  position: relative;
}

.icon_like {
  background: none;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.icon_like__contour {
  font-size: 1.6em;
  z-index: 1;
}
.icon_like__contour:hover + .icon_like__mouvant {
  transform: scaleY(0);
}

.icon_like__mouvant {
  content: "";
  background-color: #f0f0f0;
  width: 26px;
  height: 26px;
  z-index: -1;
  transform-origin: top;
  transition: transform 2s linear;
}

.icon_like__background {
  right: 1px;
  font-size: 1.5em;
  color: #FF79DA;
  z-index: -3;
}

.icon_nouveau {
  background-color: #99E2D0;
  color: #278870;
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 0.1em;
  font-size: 0.8em;
  font-family: "roboto";
}

.spinner {
  background-color: rgba(75, 75, 75, 0.6);
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-size: 8em;
  top: 0px;
  left: 0px;
  z-index: -99;
  cursor: wait;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: spinner_background 2s;
  text-align: center;
}
.spinner .fa-spinner {
  animation: spinner_rotate 2s linear;
  color: #99E2D0;
  text-shadow: #9356DC 0 0 15px;
}

@keyframes spinner_background {
  from {
    z-index: 99;
  }
  to {
    z-index: 99;
  }
}
@keyframes spinner_rotate {
  to {
    transform: rotate(720deg);
  }
}
.puce_fonctionnement {
  font-family: "roboto";
  font-size: 0.7em;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #9356DC;
  padding: 2px;
  border-radius: 50%;
}

.bouton {
  transition: box-shadow 1s, filter 1s;
}
.bouton:hover {
  filter: brightness(140%);
  box-shadow: 2px 2px 8px 10px rgba(128, 128, 128, 0.8);
}

.recherche {
  border-top: 2px solid rgba(121, 121, 121, 0.3);
}
.recherche__bloc_recherche {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(128, 128, 128, 0.1);
}
.recherche__bloc_recherche__icon {
  padding-right: 10px;
  font-size: 0.8em;
  width: 18px;
  height: 18px;
  line-height: 18px !important;
  text-align: center;
}
.recherche__form {
  display: flex;
  flex-direction: column;
}
.recherche__h2 {
  text-align: center;
  padding: 20px 70px 20px 70px;
  font-weight: 700;
  font-size: 1.3em;
}
.recherche__p {
  text-align: center;
  padding: 0 15px 40px 15px;
}
.recherche__bloc_bouton {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
.recherche__input {
  width: 40%;
  background: none;
  border: none;
}
@media (min-width: 590px) {
  .recherche__input {
    max-width: 200px;
  }
}
@media (min-width: 990px) {
  .recherche {
    width: 60%;
    border: none;
  }
  .recherche__form {
    height: 100%;
    justify-content: center;
  }
  .recherche__bloc_recherche {
    border-radius: 0.8em 0.8em 0.8em 0.8em;
    margin: 0 40px 0 40px;
  }
}

.carte_plat {
  background-color: white;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  display: flex;
  justify-content: space-between;
}
.carte_plat__bloc_g {
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  width: 100%;
}
.carte_plat__bloc_g:hover + .carte_plat__coche {
  animation: coche_anim 0.5s linear forwards;
}
.carte_plat__bloc_g:hover + .carte_plat__coche .fa-check-circle {
  animation: coche_anim2 0.5s 0.1s linear forwards;
}
.carte_plat h3 {
  margin-bottom: 5px;
}
.carte_plat h3, .carte_plat p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
}
.carte_plat__prix {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-weight: bold;
}
.carte_plat__coche {
  background-color: #99E2D0;
  width: 0;
  border-radius: 0 0.8em 0.8em 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.fa-check-circle {
  color: white;
  font-size: 2em;
  line-height: 63px !important;
  transform: rotate(180deg);
}

@keyframes coche_anim {
  to {
    width: 80px;
  }
}
@keyframes coche_anim2 {
  to {
    transform: rotate(360deg);
  }
}
.carte_restaurant {
  position: relative;
  border-radius: 0.8em;
  background-color: white;
  padding-bottom: 5px;
  box-shadow: 2px 2px 8px 4px rgba(128, 128, 128, 0.4);
  border-radius: 0.8em 0.8em 0.8em 0.8em;
}
.carte_restaurant img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.8em 0.8em 0 0;
  padding-bottom: 10px;
}
.carte_restaurant h3, .carte_restaurant p {
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 0.9em;
}
.carte_restaurant__icon {
  position: absolute;
  right: 30px;
  top: 240px;
  z-index: 1;
}
.carte_restaurant__icon .icon_like__mouvant {
  background-color: white;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #363636;
  color: white;
  padding: 20px;
}
footer img {
  width: 120px;
  height: 20px;
  margin-bottom: 20px;
}
footer .logo-blanc {
  filter: invert(100%) sepia(100%) saturate(19%) hue-rotate(236deg) brightness(104%) contrast(100%);
}
footer i {
  margin-right: 10px;
}
footer a {
  margin-bottom: 10px;
}
footer a:visited, footer a {
  color: white;
}
@media (min-width: 990px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
  footer .logo-blanc {
    margin: 0;
  }
}

.footer__bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 15px;
}
header * {
  background-color: white;
}
header img {
  height: 30px;
}
header i {
  position: absolute;
  left: 30px;
  top: 20px;
}

.fonctionnement__titre {
  padding-left: 20px;
  font-size: 1.2em;
}
.fonctionnement__bloc_carte {
  padding-top: 30px;
  padding-bottom: 15px;
}
.fonctionnement__carte {
  position: relative;
  padding: 20px 15px 20px 30px;
  box-shadow: 2px 2px 8px 4px rgba(128, 128, 128, 0.4);
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  margin: 0 40px 20px 40px;
  background-color: #f0f0f0;
  font-weight: 700;
}
.fonctionnement__carte__puce {
  position: absolute;
  left: -10px;
  bottom: 18px;
}
.fonctionnement__carte i {
  margin-right: 20px;
  color: grey;
}
.fonctionnement__carte:hover {
  background-color: #f2eafb;
}
.fonctionnement__carte:hover i {
  color: #9356DC;
}
@media (min-width: 990px) {
  .fonctionnement {
    width: 40%;
    margin-top: 0;
  }
  .fonctionnement__media_desktop {
    margin-top: 50px;
    padding-bottom: 30px;
    background-color: white;
  }
  .fonctionnement__titre {
    padding-top: 20px;
  }
  .fonctionnement__bloc_carte {
    padding-bottom: 20px;
  }
  .fonctionnement__media_desktop {
    margin: 20px;
    border-radius: 0.8em 0.8em 0.8em 0.8em;
  }
}

.restaurants {
  padding: 60px 20px 30px 20px;
}
.restaurants__titre {
  padding: 0 0 20px 0;
}
.restaurants__cartes {
  margin-bottom: 20px;
}
@media (min-width: 990px) {
  .restaurants__cartes {
    width: 23.5%;
  }
}
.restaurants__nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (min-width: 990px) {
  .restaurants {
    padding-top: 0;
  }
  .restaurants__bloc_cartes {
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  position: relative;
  padding: 0 20px 20px 20px;
}
.menu h2 {
  padding: 0 0 20px 5px;
}
.menu__h2_sous_ligne {
  position: absolute;
  top: 30px;
  left: 25px;
  width: 40px;
  height: 2px;
  background-color: #99E2D0;
}
.menu__carte {
  margin-bottom: 20px;
  animation: menu_anim 2s ease-out backwards;
}
.menu__carte__1 {
  animation-delay: 0s;
}
.menu__carte__2 {
  animation-delay: 0.5s;
}
.menu__carte__3 {
  animation-delay: 1s;
}
.menu__carte__4 {
  animation-delay: 1.5s;
}
@media (min-width: 990px) {
  .menu {
    width: 27.4%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .menu__h2_sous_ligne {
    left: 11%;
  }
}

@keyframes menu_anim {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}
.titre_page {
  position: relative;
  margin-bottom: 60px;
}
.titre_page img {
  object-fit: cover;
  height: 240px;
  min-width: 100%;
}
.titre_page__bloc_h1 {
  width: 100%;
  border-radius: 30px 30px 0 0;
  position: absolute;
  background-color: #f0f0f0;
  bottom: -60px;
}
.titre_page h1 {
  padding: 30px 0 30px 20px;
}
.titre_page__icon {
  position: absolute;
  right: 40px;
  bottom: -20px;
  z-index: 2;
}

.commander {
  padding-bottom: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

@media (min-width: 990px) {
  .bloc_recherche_fonctionnement {
    display: flex;
    border-top: 2px solid rgba(121, 121, 121, 0.3);
  }
}

@media (min-width: 990px) {
  .bloc_menu {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
