$couleur_primaire:#9356DC;
$couleur_secondaire:#FF79DA;
$couleur_tertiaire:#99E2D0;
$couleur_background:rgb(240, 240, 240);
$breakpoint:(tablet:590px,desktop:990px);
$anim_delay:(1:0s,2:.5s,3:1s,4:1.5s);
