.carte_restaurant{
    position: relative;
    border-radius: .8em;
    background-color: white;
    padding-bottom: 5px;
    @include box-shadow;
    @include border-radius;
    img{
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: .8em .8em 0 0;
        padding-bottom: 10px;
    }
    h3,p{
        padding-bottom: 5px;
        padding-left: 10px;
        font-size: .9em;
    }
    &__icon{
        position: absolute;
        right: 30px;
        top: 240px;
        z-index: 1;
        .icon_like__mouvant{
            background-color: white;
        }
    }
}