.carte_plat{
    background-color: white;
    border-radius: 1em;
    padding: 10px;
    position: relative;
    h3{
        margin-bottom: 5px;
    }
    h3,p{ 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 85%;
    }
    &__prix{
        position: absolute;
        right: 20px;
        bottom: 10px;
        font-weight: bold;
    }
}