.carte_plat{
    background-color: white;
    @include border-radius;
    display: flex;
    justify-content: space-between;
    &__bloc_g{
        position: relative;
        background-color: white;
        padding: 10px;
        @include border-radius;
        width: 100%;
        &:hover+.carte_plat__coche{
            animation: coche_anim .5s linear forwards;
            .fa-check-circle{
                animation: coche_anim2 .5s .1s linear forwards;
            }
        }
    }
    h3{
        margin-bottom: 5px;
    }
    h3,p{ 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 85%;
    }
    &__prix{
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-weight: bold;
    }
    &__coche{
        background-color: $couleur_tertiaire;
        width: 0;
        @include border-radius($tl:0,$bl:0);
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
}
.fa-check-circle{
    color: white;
    font-size: 2em;
    line-height: 63px !important;
    rotate: 180deg;
}
@keyframes coche_anim{
    to{
        width: 80px;
    }
}
@keyframes coche_anim2{
    to{
        transform: rotate(180deg);
    }
}