.fonctionnement{
    &__media_desktop{
        margin-top: 50px;
        padding-bottom: 30px;
        background-color: white;
    }
    &__titre{
        padding-left: 20px;
        font-size: 1.2em;
    }
    &__bloc_carte{
        padding-top: 30px;
    }
    &__carte{
        position: relative;
        padding: 20px 15px 20px 30px;
        @include box-shadow;
        @include border-radius;
        margin: 0 40px 20px 40px;
        background-color: $couleur4;
        font-weight: 700;
        &__puce{
            position: absolute;
            left: -10px;
            bottom: 18px;
        }
        i {
            margin-right: 20px;
            color: grey;
        }
    }
    &__carte_focus{
        background-color: lighten($color: $couleur1, $amount: 35%);
        i{
            color: $couleur1;
        }
    }
    @media (min-width:map-get($map: $breakpoint, $key:desktop )) {
        width: 40%;
        margin-top: 0;
        &__titre{
            padding-top: 20px;
        }
        &__bloc_carte{
            padding-bottom: 20px;
        }
        &__media_desktop{
            margin: 20px;
            @include border-radius;
        }
    }
}