.spinner{
    background-color: rgba(75, 75, 75, 0.6);   
    position: fixed;
    width: 0;
    height: 0;
    font-size: 8em;
    top: 0px;
    left: 0px;
    z-index: -99;
    cursor: wait;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: spinner_background 2s;
    text-align: center;
    .fa-spinner{
        animation: spinner_rotate 2s linear;
        color: $couleur_tertiaire;
        text-shadow: $couleur_primaire 0 0 15px;
    }
}
@keyframes spinner_background{
    from{
        z-index: 99;
        width: 100vw;
        height: 100vh;
    }
    to{
        z-index: 99;
        width: 100vw;
        height: 100vh;
    }

}
@keyframes spinner_rotate{
    to{     
        transform : rotate(720deg);
    }
}