@font-face{
    font-family: "shrikhand";
    src: url("/font-family/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face{
    font-family: "roboto";
    src: url("/font-family/Roboto/Roboto-Regular.ttf");
}
h1{
    font-family: "shrikhand";
}
p,h2,h3,a,span{
    font-family: "roboto";
}
h2,h3{
    font-weight: bold;
}
section{
    background-color: $couleur_background;
}