@font-face{
    font-family: "shrikhand";
    src: url("/font-family/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face{
    font-family: "roboto";
    src: url("/font-family/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: "roboto bold";
    src: url("/font-family/Roboto/Roboto-Bold.ttf");
}
h1{
    font-family: "shrikhand";
}
p{
    font-family: "roboto";
}
h2,h3{
    font-family: "roboto bold";
}